.tabel-pendaftaran-TA .atribut{
    text-align:right;
}

.tabel-pendaftaran-TA select{
    width:150px;
}

.tabel-pendaftaran-TA .btn-sbt{
    position:relative;
}

.container-daftar-status-TA{
    font-weight:bold;
    font-size:18px;
}
.container-daftar-status-TA  table{
    width:100%;
    border:1px solid black;
}


.container-input-data-dosen{
    font-weight:bold;
    font-size:18px;
}
.container-daftar-status-TA table tr,.container-daftar-status-TA table th,.container-daftar-status-TA table td{
    text-align:center;
    border:1px solid black;
}

.container-daftar-status-TA table tr td a{
    text-align:center;
    height:30px;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:1px;
}


.container-input-data-dosen form table .nama{
    width:500px;
}



.container-input-data-dosen form table tr td .btninput{
    width:100px;
    padding:1px;
    margin-left:8px;
}

.status-tugas-akhir{
    font-weight:bold;
    font-size:18px;
}

.container-input-periode{
    font-weight:bold;
    font-size:18px;
}

.container-register-akun-dosen{
    font-weight:bold;
    font-size:18px;
}

.pendaftaran-TA{
    font-weight:bold;
    font-size:18px;
}

.jadwal-TA{
    font-weight:bold;
    font-size:18px;
}

.tabel-jadwal-kosong{
    border:1px solid black;
    width:100%;
}

.order-detail {
    width:1000px;
}
